
{% extends "Master/MenuTemplate.html.twig" %}
{% block javascripts %}
    {{ parent() }}


{% endblock %}
{% block body %}
    <div class="container">
        <form name="sqlEditorForm" action="{{ fsc.url() }}" method="post" class="form">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-header">
                            <h1>
                                <i class="fas fa-database" aria-hidden="true"></i>&nbsp;{{ i18n.trans('sql-editor') }}
                            </h1>
                            <p class="help-block">
                                <span class="glyphicon glyphicon-info-sign"></span> {{ i18n.trans('only-administrator') }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <strong><label for="tables-list">{{ i18n.trans('table-names') }}</label></strong>
                            <select class="form-control" id="tables-list" onchange="getFields();">
                                {% if fsc.tables %}
                                    {% for tablename in fsc.tables %}
                                        <option {{tablename}}> {{ tablename }} </option>
                                    {% endfor %}
                                {% endif %}
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <strong><label for="fields">{{ i18n.trans('table-fields') }}</label></strong>
                            <textarea name="fields" id="fields" class="form-control" rows="4" readonly="true" placeholder="{{ i18n.trans('table-fields') }}">
                                {% if fsc.columnsTable %}
                                    {% for column in fsc.columnsTable %}
                                        {{column}} <br>
                                    {% endfor %}
                                {% endif %}
                            </textarea>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <strong><label for="query">{{ i18n.trans('sentence-sql') }}</label></strong>
                            <textarea name="query" class="form-control" rows="4" placeholder="{{ i18n.trans('sentence-sql') }}">{{ fsc.query }}</textarea>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-primary btn-lg" type="submit">
                            <span class="fas fa-database"></span>&nbsp;{{ i18n.trans('exec-query') }}

                        </button>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <h2><strong>{{ i18n.trans('results') }}</strong></h2>
                </div>

                <div class="row">
                    {% if fsc.results %}
                        <div class="table-responsive">
                            <table class="table table-striped ">
                                <thead class="thead-light">
                                    <tr>
                                        {% for title in fsc.columnsTitle() %}
                                            <th class="text-left" >
                                                {{ title }}
                                            </th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for values in fsc.results %}
                                        <tr class="Row ">
                                            {% for value in values %}
                                                <td class="text-left">
                                                    {{ value }}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>






    </div>
{% endblock %}
